<h1>Hi <%= @user.name %></h1>
<p>
  It is to inform you that you have successfully Subscribed out Plan 
  <strong><%= @subscription.plan.name%></strong> which monthly charges 
  <strong><%= @subscription.plan.monthly_fee%></strong>
</p>
<br>
<p>
  Enjoy Subscribing
</p>
<p>
  Thank You
</p>