<h1> <%=@user.name %>'s Subscription</h1>
<ul>
  <% @user.subscriptions.each do |subscription| %>
    <%= render partial: "layouts/subscriptions_with_features", locals: {subscription: subscription}%>
  <% end %>
</ul>