<div class="media">
  <div class="media-body">
    <h4 class="media-heading"> <%= plan.name %>
    </h4>
    <address>
      <strong>
        Monthly Fee:
      </strong>
      <%= plan.monthly_fee %>
    </address>
    <% if plan.features.length == 0 %>
      <h2> No Features Exists
      <% else %>
        <ul>
          <% plan.features.each do |feature|%>
            <%= render partial: "layouts/feature", locals: {feature: feature}%>
          <% end %>
        </ul>
      <% end %>
      <% if policy(Feature).new? %>
        <%= render partial: "layouts/right_button", locals: {type: "Add Feature", location: new_plan_feature_path(@plan) } %>
      <% end %>
    </div>
  </div>